<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.lyd.test.Login</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>Hello</servlet-name>
    <servlet-class>com.lyd.test.Hello</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Add</servlet-name>
    <servlet-class>com.lyd.test.Add</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Add</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Query</servlet-name>
    <servlet-class>com.lyd.test.Query</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Query</servlet-name>
    <url-pattern>/query</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Modify</servlet-name>
    <servlet-class>com.lyd.test.Modify</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Modify</servlet-name>
    <url-pattern>/modify</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Modified</servlet-name>
    <servlet-class>com.lyd.test.Modified</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Modified</servlet-name>
    <url-pattern>/modified</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Delete</servlet-name>
    <servlet-class>com.lyd.test.Delete</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>

</web-app>
